body{
    background-image: url(cover.jpg);
    background-size: cover;
    font-family: calibri;
  }
  .donate h1{
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    color: white;
  }
  .donate p{
    font-size: 25px;
    text-align: center;
    color: #00202D;
    margin-top: -2%;
  }
  .donate h2{
    float: right;
    margin-right: 20%;
    font-size: 40px;
    color: white;
  }
 
